.home-article{
    background-color: black;
    color: white;
    margin: 2rem;
    margin-top: 10rem;
    padding: 2rem;    
    border-radius: 10px;
    opacity: 0.5;
}
.article-title{
    color: White;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
}
.article-buton{
    text-align: center;
    padding: 2rem;
}
.article-btn{
    width: 12rem;
    margin: auto;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: blue;
}
.article-btn:hover{
    width: 12rem;
    margin: auto;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(45, 45, 70);
}